<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.week3appwb" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week3AppWb"
        tools:targetApi="31" >
        <activity
            android:name=".Screen4RelativeLayoutActivity"
            android:theme="@style/Screen4Theme"
            android:exported="false" />
        <activity
            android:name=".Screen3RelativeLayoutActivity"
            android:theme="@style/Screen3Theme"
            android:exported="false" />
        <activity
            android:name=".Screen2RelativeLayoutActivity"
            android:theme="@style/Screen2Theme"
            android:exported="false" />
        <activity
            android:name=".Screen1RelativeLayoutActivity"
            android:theme="@style/Screen1Theme"
            android:exported="false" />
        <activity
            android:name=".Screen4ConstraintLayoutActivity"
            android:theme="@style/Screen4Theme"
            android:exported="false" />
        <activity
            android:name=".Screen3ConstraintLayoutActivity"
            android:theme="@style/Screen3Theme"
            android:exported="false" />
        <activity
            android:name=".Screen2ConstraintLayoutActivity"
            android:theme="@style/Screen2Theme"
            android:exported="false" />
        <activity
            android:name=".Screen1ConstraintLayoutActivity"
            android:theme="@style/Screen1Theme"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>